/*
Syntax error: Undefined variable: "$darkBlue".
        on line 27 of /Users/subicura/Workspace/remotty/remotty.github.io/sass/structure.scss

Backtrace:
/Users/subicura/Workspace/remotty/remotty.github.io/sass/structure.scss:27
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `load'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `<main>'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/subicura/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$darkBlue\".\A         on line 27 of /Users/subicura/Workspace/remotty/remotty.github.io/sass/structure.scss"; }
