/*
Syntax error: Undefined variable: "$bodyFont".
        on line 3 of /home/han/project/ruby/remotty.github.io/sass/typography.scss

1: /home/han/project/ruby/remotty.github.io/sass/typography.scss

Backtrace:
/home/han/project/ruby/remotty.github.io/sass/typography.scss:3
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/script/list.rb:70:in `block in _perform'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/script/list.rb:70:in `map'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/script/list.rb:70:in `_perform'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/bin/compass:44:in `call'
/home/han/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/han/.rbenv/versions/2.1.0/bin/compass:23:in `load'
/home/han/.rbenv/versions/2.1.0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$bodyFont\".\A         on line 3 of /home/han/project/ruby/remotty.github.io/sass/typography.scss\A \A 1: /home/han/project/ruby/remotty.github.io/sass/typography.scss"; }
